/*****************************************************************************
**
**		Loading Mask
**
*****************************************************************************/
.loading-mask {
	background: $background-primary;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 40px;
	z-index: 1000;
}
