/*****************************************************************************
**
**		Signup Module
**
*****************************************************************************/
.signup-module {

	.mod-header {
		background: $teal-darken-10;
		border-bottom: 1px solid $gray-100;
		border-radius: 10px 10px 0 0;
	}

	.mod-body {
		background: $gray-80;
		border-radius: 0 0 10px 10px;
	}
}
